<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Lab3</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/mainApp/main.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/mainApp/register.css' %}" type="text/css">
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

		<header>
		<div>
		</div>
		<footer>
			<img src="https://78.media.tumblr.com/e1dbdcb4b67d6d9af043effe6f0813d6/tumblr_oshzs0n5511qjb1qgo1_1280.png" alt="" width="100px" height="100px">
			<p></p>
			<div>

			</div>
		</footer>
	</header>

    <h2>Login</h2>
	<div>
		<form action="login/" method="post">
			{% csrf_token %}
			<label for="username">Имя пользователя</label>
			<input type="text" name="username" id="username">
			<label for="password">Пароль</label>
			<input type="text" name="password" id="password">
			{% if login_error %}
				<label>{{login_error}}</label>
			{% endif %}
			<input type="submit" value="Войти">
		</form>
	</div>

	<footer></footer>
</body>
</html>